html {
    height: 100vh;
    width: 100vw;
}

body {
    display: flex;
    padding: 10%;
    height: 550px;
    width: auto;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: none;
}

main {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10vw;
    justify-content: space-around;
}

main div {
    display: flex;
    justify-content: center;
    align-items: center;
}
#imagem {
    background-image: url(../assets/login.png);
    background-repeat: no-repeat;
    background-position: center;
}

#login {
    row-gap: 3px;
    width: 53%;
    height: 60%;
    border: 1px solid gray;
    border-radius: 5%;
    box-shadow: 0px 0px 6px 1px #636565;
    display: grid;
    align-content: center;
    justify-items: center;
}
#login h1 {
    position: relative;
    top: -25%;
}

#login input {
    height: 2rem;
    width: 60%;
    font-size: 2em;
}

#login button {
    background-color: brown;
    margin: 2.5rem 0 0rem;
    height: 2.5rem;

}
#login button:active {
    background-color: #791f1f;
}